<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElasticLib</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="logo" href="/">ELASTICLIB</a>
            <div class="nav-buttons">
                <div class="dropdown">
                    <button class="btn dropdown-btn">Book</button>
                    <div class="dropdown-content">
                        <a href="/Book/Index">All Books</a>
                        <a href="/Book/Create">Add Book</a>
                        <a href="/Book/Search">Search Books</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn dropdown-btn">Author</button>
                    <div class="dropdown-content">
                        <a href="/Author/Index">All Authors</a>
                        <a href="/Author/Create">Add Author</a>
                        <a href="/Author/Search">Search Authors</a>
                    </div>
                </div>
                <a href="/Home/Privacy" class="btn">Privacy</a>
            </div>
        </nav>
    </header>

    <main class="main-content">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>